<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
    <!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>-->
    <link rel="stylesheet" href="https://bootstraptema.ru/snippets/effect/2017/ihover9/ihover.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/main.js"></script>
    <link type="text/css" href="/style.css" rel="stylesheet">
</head>
<body>
<div class="v-application v-application--is-ltr theme--light">
    <div class="v-application--wrap">
        <header class="elevation-8 v-sheet v-sheet--tile theme--light v-toolbar v-toolbar--flat v-app-bar v-app-bar--fixed primary"
                id="app-bar" data-booted="true"
                style="height: 64px; margin-top: 0px; transform: translateY(0px); left: 310px; right: 0px;">
            <div class="v-toolbar__content" style="height: 64px;">
                <div class="v-toolbar__title ml-4" style="color: rgb(255, 255, 255);">Модуль "Формирование методик
                    лечения"
                </div>
                <div class="spacer"></div>
                <button type="button" class="ml-2 v-btn v-btn--flat v-btn--text theme--light v-size--default"
                        style="min-width: 0px;">
                    <span class="v-btn__content">
                        <i aria-hidden="true" class="v-icon notranslate mdi mdi-account theme--light"></i>
                    </span>
                </button>
            </div>
        </header>
        <nav class="elevation-8 v-navigation-drawer v-navigation-drawer--fixed v-navigation-drawer--open theme--dark primary"
             style="height: 100vh; top: 0px; transform: translateX(0%); width: 310px; max-height: calc(100% - 0px);"
             data-booted="true">
            <div class="v-navigation-drawer__content">
                <div class="v-list py-0 v-sheet v-sheet--tile theme--dark v-list--dense v-list--nav">
                    <div tabindex="-1" class="v-list-item v-list-item--two-line theme--dark">
                        <div class="v-avatar v-list-item__avatar" style="height: 40px; min-width: 40px; width: 40px;">
                            <img src="/img/11111111111.71340a20.png">
                        </div>
                        <div class="v-list-item__content">
                            <div class="v-list-item__title"><h3>Система анализа</h3></div>
                            <div class="v-list-item__title"><h3>гериатрических рисков</h3></div>
                        </div>
                    </div>
                    <hr role="separator" aria-orientation="horizontal" class="v-divider theme--dark">
                    <a href="/" aria-current="page"
                       class=" v-list-item v-list-item--link theme--dark" tabindex="0">
                        <div class="v-list-item__icon">
                            <i aria-hidden="true"
                               class="v-icon notranslate mdi mdi-information-outline theme--dark"></i>
                        </div>
                        <div class="v-list-item__content">
                            <div class="v-list-item__title">О модуле</div>
                        </div>
                    </a>

                    <a href="/calc/" class="v-list-item v-list-item--link theme--dark" tabindex="0">
                        <div class="v-list-item__icon">
                            <i aria-hidden="true"
                               class="v-icon notranslate mdi mdi-crosshairs-question theme--dark"></i>
                        </div>
                        <div class="v-list-item__content">
                            <div class="v-list-item__title">Расчёты</div>
                        </div>
                    </a>

                    <a href="/classes/" class="v-list-item v-list-item--link theme--dark" tabindex="0">
                        <div class="v-list-item__icon">
                            <i aria-hidden="true"
                               class="v-icon notranslate mdi mdi-crosshairs-question theme--dark"></i>
                        </div>
                        <div class="v-list-item__content">
                            <div class="v-list-item__title">Классификация</div>
                        </div>
                    </a>

                </div>

                <footer class="v-footer v-sheet v-sheet--tile theme--dark v-footer--absolute primary"
                        id="dashboard-core-footer" dense="" data-booted="true"
                        style="left: 0px; right: 0px; bottom: 0px;">
                    <div class="container">
                        <div class="row no-gutters align-center">
                            <div class="col col-12">
                                <div class="body-1 font-weight-light pt-6 pt-md-0 text-center"> © 2020 — Ziganshina
                                    Renata, USATU
                                    <img alt="ico" width="30" src="/img/USATU.ico">
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <div class="v-navigation-drawer__border"></div>
        </nav>
        <main class="v-content" data-booted="true" style="padding: 64px 0px 0px 310px;">
            <div id="vue-root"></div>
        </main>
    </div>
</div>
</body>
</html>

